[Desktop Entry]
Encoding=UTF-8
Name=PicPas
Comment=Pascal cross-compiler for Microchip 8-bit PIC microcontrollers.
Exec=PicPas-linux
Icon=PicPas
Terminal=false
Type=Application
Categories=GNOME;Application;Development;
StartupNotify=true
MimeType=text/x-pascal
